.profile {
  background-color: $lightgray;
  h2 {
    color: $purple;
  }
  &__box {
    height: 300px;
    width: 100%;
    display: flex;
  }
  &__ava {
    height: 300px;
    width: 25%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
  }
  &__comparision {
    display: flex;
    justify-content: center;
  }
  &__cta {
    font-size: $font-sm;
    color: $White;
    transition: opacity 300ms ease-in-out;
    background: #23272a;
    border: 0;

    &:hover {
      opacity: 0.75;
    }
  }
  h3 {
    font-size: $font-med;
  }
}
