.tool {
  text-align: left;
  &__box {
    display: flex;
    flex-direction: row;
  }
  img {
    width: 30%;
    flex: 2;
    margin-right: 50px;
  }
  &__content {
    flex: 2;
  }
}
.skill,
.tool {
  h2 {
    color: $purple;
  }
}
