$purple: #4053e4;
$lightgreen: #cbeaee;
$lightgray: #f6f6f6;
$coral: #f37b68;
$darkgray: #24272a;

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: rgb(243, 244, 246);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$font-sm: 0.75rem; //14px
$font-med: 1rem; //18px
$font-lg: 1.125rem;
$font-xlg: 3.25rem;
